<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How to Get to Arts Itoya</h2>
                    <h3 class="section-subheading text-muted">Takeo Onsen is connected to Fukuoka's Hakata Station</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Fukuoka Airport</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        If you want to get to Hakata in a fast and cheap way, you should take the subway. The ride to Hakata station takes five minutes. If your plane arrives at the domestic terminal, use the domestic terminal 2 escalators and elevators, and go to the underground level. From the international terminal, take the free bus from bus stop no.1. Get off at the domestic terminal 2, which is the last stop. Go to the underground level, using the escalators and elevators.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Hakata Station</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Takeo Onsen and Fukuoka (Hakata Station) are connected by hourly limited express trains (about 70 minutes, around 2800 yen one way).</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/7.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Takeo Onsen Station</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Arts Itoya is located about 800 meter west of Takeo Onsen Station</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Welcome
                                    <br>to Arts
                                    <br>Itoya!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>