<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-6">
                    <a href="https://studiokura.info/en">
                        <img src="img/logos/kuramoji.png" class="img-responsive img-centered" alt="Studio Kura" style="margin: 16px auto">
                        <span class="text-muted">
                            Our AiR program in Itoshima, Fukuoka
                        </span>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.resartis.org/en/residencies/list_of_residencies/?id_content=7654">
                        <img src="img/logos/res.jpg" class="img-responsive img-centered" alt="Member of Res Artis" style="margin: 16px auto">
                        <span class="text-muted">
                            Member of Res Artis
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </aside>