<!-- Program Details Section -->
<section id="text1" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    Studio and Accommodation
                </h2>
                <p>
                    Arts Itoya provides artists with residential facilities and bicycles during their staying period. Accommodation consists on one traditional Japanese rural house, which can be shared by up to four artists. Each artist is provided a private single room. Common room, bathroom, toilet and kitchen facilities are shared with other residence artists and there is internet Wi-Fi connection in the house. One partitioned studio space is offered to the artists as working space as well as exhibition space. There are enough restaurants and stores for daily needs at walking distance.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="text2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    Commonly Scheduled Activities
                </h2>
                <p>
                    Around the first week of the month, we will take the artists on a tour around Takeo. Then, the following week we will arrange a workshop for them to experience some kind of Japanese craft (i.e. washi, bonsai or tea ceremony). On the last weekend before they leave, artists will have their exhibitions. An opening party and artist talk is normally scheduled at 15:30 on a Saturday.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="text3" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    Fees and Expenses
                </h2>
                <p>
                    The artist will pay 80,000 JPY for each period of 4 weeks of stay. This means for an eight-week slot you will need to pay 160,000 JPY and an twelve-week slot will be 240,000 JPY. The four-week staying fee we take is actually 74,074 JPY, but we need to collect value-added tax which is currently 8% in Japan, adding to 80,000 JPY.
                </p>
                <p>
                    We need the artist to make a deposit of 10,000 JPY for each 4 week slot once he or she is accepted and a slot is chosen. The rest of the payment for their stay can be paid in cash upon arrival. For example, if you were going to stay for four weeks with us you would need to pay 10,000 JPY through PayPal as soon as we decided on the date for your residence, and 70,000 JPY once you arrived to Arts Itoya. You would pay 80,000 JPY in total. Please note that any daily expenses including food and transport, and art supply are not covered in our residence fee.
                </p>
                <p>
                    We do not have our own funding program, so artists are encouraged to apply for funding in their own countries. We are pleased to help providing an invitation letter and any information to accepted artists.
                </p>
            </div>
        </div>
    </div>
</section>